.root {
    color: rgb(var(--venia-global-color-text));
    composes: grid from global;
    align-content: start;
}

.label {
    composes: items-center from global;
    composes: flex from global;
    composes: text-base from global;
    font-weight: var(--venia-global-fontWeight-semibold);
    composes: justify-between from global;
    composes: leading-4 from global;
    padding: 0.5625rem 0.125rem;
    min-height: 2.125rem;
}

.input_base {
    composes: text-base from global;
    composes: h-full from global;
    composes: m-0 from global;
    composes: max-w-full from global;
    padding: calc(0.375rem - 1px) calc(0.625rem - 1px);
    composes: w-full from global;
}

.input {
    composes: input_base;
    composes: bg-white from global;
    border-top: 1px solid rgb(var(--venia-global-color-gray-600));
    border-bottom: 1px solid rgb(var(--venia-global-color-gray-600));
    color: rgb(var(--venia-global-color-text));
    composes: inline-flex from global;
    flex: 0 0 100%;
    -webkit-appearance: none;
}

.input:focus {
    box-shadow: -6px 6px rgb(var(--venia-brand-color-1-100));
    outline: none;
}

.optional {
    color: rgb(var(--venia-global-color-gray-700));
    font-size: var(--venia-global-fontSize-100);
    font-weight: var(--venia-global-fontWeight-normal);
}
