.root {
    padding: 1rem 0;
}

.root {
    composes: items-start from global;
    composes: lg_grid from global;
    grid-auto-flow: row;
    grid-template-areas:
        'images title'
        'images errors'
        'images options'
        'images shipping'
        'images quantity'
        'images cart'
        'images .'
        'tabGroup tabGroup';
    grid-template-columns: 0.90fr 1fr;
    grid-template-rows: repeat(5, min-content) 1fr [fold];
    composes: lg_py-10 lg_px-4 from global;
}


.tabsContainer {
    grid-area: tabGroup;
}

.section {
    border-color: rgb(var(--venia-global-color-border));
    composes: border-solid from global;
    border-width: 0 0 1px;
    margin: 0 0px 0 1.5rem;
    padding: 1.5rem 0;
}

.sectionTitle {
    composes: items-center from global;
    composes: flex from global;
    composes: text-base from global;
    composes: font-semibold from global;
    composes: leading-normal from global;
    composes: mb-6 from global;
}

.title {
    composes: items-center from global;
    composes: grid from global;
    grid-area: title;
    grid-gap: 1rem;
    grid-template-columns: 1fr max-content;
    composes: leading-normal from global;
    padding: 1rem 1.5rem;
}

.title {
    composes: lg_p-6 from global;
}

.productName {
    composes: text-base from global;
    composes: font-semibold from global;
    font-size: 32px;
}

.productName {
    composes: lg_text-3xl from global;
    composes: lg_font-normal from global;
}

.productPrice {
    composes: block from global;
    composes: text-blue-dark from global;
    composes: text-3xl from global;
}

.imageCarousel {
    grid-area: images;
    grid-column: 1 / 2;
    grid-row: 1 / fold;
    margin: 0 auto;
    max-width: 640px;
}

.imageCarousel {
    composes: lg_m-0 from global;
    composes: lg_max-w-800px from global;
    composes: lg_py-6 from global;
}

.options {
    grid-area: options;
    composes: block from global;
    composes: flex-row-reverse from global;
    composes: justify-end from global;
    border-color: rgb(var(--venia-global-color-border));
    composes: border-solid from global;
    border-width: 0 0 1px;
    border-top: 1px solid rgb(var(--venia-global-color-border));
}

.options {
    composes: sm_flex from global;
    composes: sm_ml-6 from global;
}

.formErrors {
    composes: section;
    grid-area: errors;
}

.quantity {
    composes: section;
    grid-area: quantity;
}

.quantity svg {
    filter: invert(15%) sepia(89%) saturate(4982%) hue-rotate(238deg) brightness(98%) contrast(105%);;
}

.quantity svg:hover {
    filter: invert(15%) sepia(89%) saturate(4982%) hue-rotate(238deg) brightness(98%) contrast(105%);;
}

.quantityTitle {
    composes: title from '@magento/venia-ui/lib/components/ProductOptions/option.module.css';
}

.actions {
    composes: section;
    composes: items-center from global;
    composes: grid from global;
    grid-area: cart;
    composes: row-gap-6 from global;
    justify-items: center;
}


.actions {
    composes: lg_border-b-0 from global;
}


.description {
    composes: section;
    grid-column: 1 / span 1;
    grid-row: fold / span 1;
}

.description {
    composes: lg_self-stretch from global;
    composes: lg_border-t from global;
    composes: lg_m-0 from global;
    composes: lg_pr-6 from global;
}

.descriptionTitle {
    composes: sectionTitle;
}

.details {
    composes: section;
    grid-column: 2 / span 1;
    grid-row: fold / span 1;
}

.details {
    composes: lg_self-stretch from global;
    composes: lg_border-t from global;
    composes: lg_m-0 from global;
    composes: lg_pl-6 from global;
    composes: lg_pr-6 from global;
}

.detailsTitle {
    composes: sectionTitle;
}

.related {
    composes: section;
    composes: border-b-0 from global;
    grid-column: 1 / span 2;
}

.relatedTitle {
    composes: sectionTitle;
}

.quantityRoot {
    composes: root from '@magento/venia-ui/lib/components/CartPage/ProductListing/quantity.module.css';
    grid-template-columns: auto 4rem auto;
    justify-content: start;
}

.unavailableContainer {
    composes: items-center from global;
    background-color: rgb(var(--venia-global-color-gray));
    color: rgb(var(--venia-global-color-gray-700));
    composes: col-gap-2 from global;
    composes: grid from global;
    composes: italic from global;
    composes: grid-flow-col from global;
    justify-content: start;
    composes: p-3 from global;
    composes: w-full from global;
}

.shipping {
    composes: mt-5 from global;
    background-color: #F4F5F5;
    composes: inline-block from global;
    composes: lg_ml-6 from global;
    composes: w-full from global;
    composes: lg_w-auto from global;
}

.shipping :global(.column-root-QTy){
    border-right: 1px solid rgb(var(--venia-global-color-border));
}
.shipping :global(.column-root-QTy):last-child{
    border-right: none;
}

.shipping :global(.text-root-aN9){
    @apply inline-block p-5 my-0 mx-auto;
}

.shipping:first-child {
    border-right: 1px solid rgb(var(--venia-global-color-border));
}

.shipping p {
    @apply mb-0 inline-block;
}

.shipping p:first-child {
    @apply float-left pr-5;
}

.shipping p:last-child {
    @apply text-left block;
}

.section .shipping {
    border: none;
}
.section .tabsContainer{
    margin-left: 0px;
}

.longDescription {
    composes: ml-6 from global;
    composes: text-sm from global;
}

.longDescription ul {
    list-style: none;
}

.longDescription ul li::before {
    content: "\2022";
    @apply text-blue-dark font-bold inline-block;
    width: 1em;
    margin-left: -1em;
}
