.tabGroup p {
    @apply text-sm;
}

.tabs{
    composes: flex from global;
}

.tabs div {
    @apply py-4 px-9 cursor-pointer text-center;
    border: 1px solid rgb(var(--venia-global-color-border));
    border-right: none;
    border-bottom: none;
}

.tabs div:last-child {
    border-right: 1px solid rgb(var(--venia-global-color-border));
}

div.active {
    @apply bg-white-active;
}

.child section:global(.productFullDetail-section-dsM){
    @apply pl-0 !important;
}

