.root {
    padding: 1.75rem 0;
    composes: w-6/12 from global;
    margin: 0 auto;
}

@media (min-width: 1024px) {
    .root {
        margin: 0 1.5rem;
    }
}

.root:last-child {
    @apply sm_m-0;
}

.title {
    composes: text-base from global;
    composes: font-semibold from global;
    composes: leading-normal from global;
    composes: mb-6 from global;
    composes: block from global;
}

.selection {
    composes: text-base from global;
    composes: leading-normal from global;
    composes: mt-4 from global;
    composes: flex from global;
}

.selectionLabel {
    composes: mr-4 from global;
}
